body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

header {
    background: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #de0029;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #00aa9e;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #326db3;
}

/* Hero Section */
#hero {
    padding: 50px 20px;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
    text-align: left;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #de0029;
}

.hero-text {
    max-width: 400px;
    color: #de0029;
}

.hero-text p {
    color: #ffcc00;
}

.project-card {
    background: #333;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: background-color 0.3s ease;
}

.project-card:hover {
    background-color: #444;
}

.project-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.project-info {
    max-width: 400px;
    text-align: left;
}

.project-info h3 {
    font-size: 1.5rem;
    color: #de0029;
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 10px;
    color: #fff;
}

.project-info a {
    color: #ffcc00;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

#contact a img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

#contact a img:hover {
    transform: scale(1.1);
}

footer {
    background: #333;
    padding: 10px;
    margin-top: 20px;
    color: #326db3;
}
